.contactText {
  width: 58%;
}

.submitButton {
  width: 77.5%;
}

.smallMargin {
  margin-right: 3vw;
}

.contactText2 {
  width: 58%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
