.dashboardPicStyle {
  width: 100%;
  height: auto;
}

.whoWeAre {
  background-color: lightgrey;
  border-bottom-style: solid;
  border-top-style: solid;
  padding-top: 1vw;
}
.whoWeAreText {
  margin-left: 3%;
  margin-right: 3%;
  text-align: left;
}

.containerStyle {
  margin-width: none;
  text-align: left;
  margin-left: 5%;
}
@media screen and (min-width: 375px) {
  .eventDiv {
    max-width: 323px;
    max-height: 300px;
  }
  .eventInnerDiv {
    max-height: 139px;
  }
}
@media screen and (min-width: 768px) {
  .containerStyle {
    max-width: 717px !important;
  }
  .eventDiv {
    max-height: 441px;
  }
  .eventInnerDiv {
    max-height: 344px;
  }
}
@media screen and (min-width: 1024px) {
  .containerStyle {
    max-width: 966px !important;
  }
  .eventDiv {
    max-height: 547px;
  }
  .eventInnerDiv {
    max-height: 470px;
  }
}
@media screen and (min-width: 1366px) {
  .containerStyle {
    max-width: 1293px !important;
  }
  .eventDiv {
    max-height: 688px;
  }
  .eventInnerDiv {
    max-height: 603px;
  }
}

.facilityPic {
  width: 95%;
  height: auto;
}

.eventDiv {
  border-style: double;
  padding: 2%;
}

.eventInnerDiv {
  overflow-y: scroll;
}

.dashboardPicText {
  position: absolute;
  top: 7%;
  right: 10%;
  font-family: cursive;
  font-weight: bold;
  color: white;
  font-size: 4vw;
}

.dashboardPicDiv {
  position: relative;
}
