.dashboardPicStyle {
  width: 100%;
  height: auto;
}

.whoWeAre {
  background-color: lightgrey;
  border-bottom-style: solid;
  border-top-style: solid;
  padding-top: 1vw;
}
.whoWeAreText {
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
}

.facilityDiv {
  border-style: double;
  padding-top: 1.25vw;
  padding-left: 1.5vw !important;
  padding-bottom: 1vw;
}

.containerStyle {
  margin-width: none;
  text-align: left;
  margin-left: 5%;
  padding-bottom: 1vw;
}
@media screen and (min-width: 375px) {
  .eventDiv {
    max-width: 323px;
    max-height: 300px;
  }
  .eventInnerDiv {
    max-height: 139px;
  }
}
@media screen and (min-width: 768px) {
  .containerStyle {
    max-width: 94vw !important;
  }
  .eventDiv {
    max-height: 139vh;
  }
  .eventInnerDiv {
    max-height: 344px;
  }
}
@media screen and (min-width: 1024px) {
  .containerStyle {
    max-width: 94vw !important;
  }
  .eventDiv {
    max-height: 159vh;
  }
  .eventInnerDiv {
    max-height: 470px;
  }
}
@media screen and (min-width: 1366px) {
  .containerStyle {
    max-width: 94vw !important;
  }
  .eventDiv {
    max-height: 186vh;
  }
  .eventInnerDiv {
    max-height: 603px;
  }
}

.facilityPic {
  width: 33%;
  height: auto;
  margin-right: 0.1vw;
}

.eventDiv {
  border-style: double;
  padding-top: 1.25vw;
  padding-left: 1.5vw !important;
}

.eventDivSmall {
  padding-top: 1.25vw;
  padding-left: 1.5vw !important;
}

.eventInnerDiv {
  overflow-y: scroll;
}

.dashboardPicText {
  position: absolute;
  top: 7%;
  right: 10%;
  font-family: cursive;
  font-weight: bold;
  color: white;
  font-size: 4vw;
}

.dashboardPicDiv {
  position: relative;
}
