.strengthPic {
  width: 100%;
  height: auto;
}
.strengthText {
  position: absolute;
  top: 2vw;
  left: 4vw;
  font-family: sans-serif;
  font-size: 6vw;
}

.strengthPicDiv {
  position: relative;
}

video {
  object-fit: cover;
}
@media screen and (min-width: 375px) {
  .containerStyle {
    padding-left: 0px !important;
    text-align: left;
    margin: 0px;
    margin-left: 2% !important;
    margin-top: 4%;
  }
}

@media screen and (min-width: 768px) {
  .containerStyle {
    text-align: left;
    margin: 0px;
    margin-left: 2% !important;
    margin-top: 4%;
    padding-left: 15px !important;
    padding-right: 0px !important;
  }
}
