.aboutPic {
  width: 100%;
  height: auto;
  opacity: 0.5;
}

.containerStyle2 {
  border-style: solid;
  padding: 1%;

  background-color: white;
}
.aboutText {
  font-family: sans-serif;
  font-size: 3vw;
  margin-left: 6%;
}

.aboutSubtext {
  font-family: serif;
  font-size: 1.8vw;
  max-width: 50%;
  margin-left: 3%;
}

.coachPic {
  width: 100%;
  height: auto;
}

.coachDiv {
  margin: 3%;
}

.coachText {
  font-size: 1vw;
}
.coachText2 {
  font-size: 2vw;
}
