.bootcampPic2 {
  width: 68%;
  height: auto;

  transform: rotate(90deg);
}
.bootcampPic {
  width: 35%;
  height: auto;
  position: absolute;
  left: 66vw;
}
.bootcampText {
  position: absolute;
  top: 6vw;
  left: 8vw;
  font-family: sans-serif;
  font-size: 6vw;
}

.bootcampText2 {
  position: absolute;
  top: 26vw;
  font-family: sans-serif;
  font-size: 4vw;
  background-color: grey;
  opacity: 0.7;
  width: 100%;
}

.bootcampPicDiv {
  text-align: center;
}

.headerPic {
  width: 100%;
  height: auto;
}

.headerPicDiv {
  position: relative;
}

video {
  object-fit: cover;
}

.containerStyle {
  text-align: left;
  margin: 0px;
  margin-left: 2% !important;
  margin-top: 4%;
}
