.yogaPic {
  width: 100%;
  height: auto;
}
.yogaText {
  position: absolute;
  top: 6vw;
  left: 8vw;
  font-family: sans-serif;
  font-size: 6vw;
}
.yogaText2 {
  position: absolute;
  top: 20vw;
  font-family: sans-serif;
  font-size: 4vw;
  background-color: lightgrey;
  text-align: center;
  opacity: 0.7;
  width: 100%;
}

.yogaPicDiv {
  background-color: grey;
  text-align: center;
}

video {
  object-fit: cover;
}

.containerStyle {
  text-align: left;
  margin: 0px;
  margin-left: 2% !important;
  margin-top: 4%;
}
